/* Masthead */
header {
	position: relative;
}

header h1 {
	position: absolute;
	left: 710px;
	bottom: 0;
	font-size: 2em;
}

.head {
	background: url(../img/triangular.png);
	text-align: center;
	padding: 10px 0 0 0;
}

.head h1 {
	color: #EF0000;
	font-family: 'Open Sans', sans-serif;
}

/*  Navigation  */
.nav {
	padding-right: 24px;
}


.breadcrumbs > *  {
	font-size: 1.15em;
}

.breadcrumbs {
	border: 1px solid #000;
	font-family: 'Oswald', sans-serif;
}

.home:hover, .canvas:hover, .eaglenet:hover, .soar:hover,
.custom:hover, .logout:hover {
	color: red;
}


/* Column 1 Styling */
.tabs-content {
	border-bottom: 4px solid #333;
}

.tabs dd.active a {
	background: white;
	border: 1px solid red;
}

.tabs dd > a {
	border: 1px solid black;
}

#classes ul, #grades ul {
	list-style: none;
}


/* Column 2 Styling */

div h4 {
	font-family: 'Open Sans', sans-serif;
	padding-top: 12px;
}

/* Modal
.reveal-modal-bg {
	background: rgba(0, 177, 255, 1);
}  */

/* Orbit Slider 

.orbit-container .orbit-slides-container li .orbit-caption {
	background-color: rgba(51, 51, 51, 1);
	padding: 20px;
}

.orbit-prev {
	width: 72px;
}

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
	background-color: orange;
}

.orbit-bullets {
	display: none;
}

.carousel {
	padding-left: 25px; 
}

*/

.panel h5, .panel.callout h5 {
	font-family: 'Open Sans', sans-serif;
	color: #EF0000;
	background-color: snow;
}

.panel, .panel.callout { 
	background: rgba(173, 173, 173, 0.29);
	border-color: #d8d8d8;
}


footer div p {
	font-family: 'Roboto', sans-serif;
}